/* Landing Page CSS */
#login{
    border: 1px solid grey;
    max-width: 30%;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    box-shadow: .25rem .25rem .15rem;
    float: right;
    margin-right: 5rem;
    margin-bottom: 5rem;
}
.push{
    padding:1rem
}
#loginButton{
    margin: 1rem ;
}
.ftpic{
    height:100px;
    display: inline;
    max-width: 40%;
    float: left;

}
header{
    margin-top: 2rem;
}